<!-- Testimonial Card Component -->
<div class="testimonial-item">
  <div class="testimonial-pic">
    <img src="" alt="" class="testimonial-image" />
  </div>
  <div class="testimonial-text">
    <p class="testimonial-content"></p>
    <h6 class="testimonial-author"></h6>
    <span class="testimonial-position"></span>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </div>
</div>
